@charset "UTF-8";
ul#album-fotos {
    width: 700px; /*largura*/
    margin: 0 auto; /*esquerda/left top direita/right botton*/
    padding: 50px; /**/
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li{
    float: left; /*um ao lado do outro*/
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(243, 230, 230);
    background-color:#ffffff;
    box-shadow: 1px 1px 3px rgba(0 0 0 .4);
    transition: 2s;
}
ul#album-fotos li#foto01{
    background: url("../_imagens/art.jpg")no-repeat;
    background-position: 0% 0%; 
    background-size: 300px 400px; 
    background-color: #fafafa;
}
ul#album-fotos li#foto01:hover{
    background-position: 0% 0%;
    background-size: 200px 300px;
}
ul#album-fotos li#foto02{
    background: url("../_imagens/vic.jpg")no-repeat;
    background-position: 50% 4%;
    background-size: 347px 372px;
    background-color: #fafafa;
}
ul#album-fotos li#foto02:hover{
    background-position: -70px 0px;
    background-size:300px 375px;
}
ul#album-fotos li#foto03{
    background: url("../_imagens/foto.jpg")no-repeat;
}
ul#album-fotos li#foto03:hover{
    background-size: 200px 200px;
}
ul#album-fotos li#foto04{
    background: url("../_imagens/casal.jpg")no-repeat;
}
ul#album-fotos li#foto04:hover{
    background-size: 200px 200px;
}
ul#album-fotos li#foto05{
    background: url("../_imagens/contato.jpg")no-repeat;
}
ul#album-fotos li#foto05:hover{
    background-size: 300px 375px;
}

ul#album-fotos li#foto06{
    background: url("../_imagens/paisag.jpg")no-repeat;
}
ul#album-fotos li#foto06:hover{
    background-size: 310px 200px;
}
ul#album-fotos li span{
    opacity: 0;
    color:#eff7f2;
    text-shadow:1px 1px 1px #27352c;
    background-color: rgba(21, 41, 36, 0.1);
    line-height: 370px; /*legenda no rodapé*/
    padding: 4px;
}
ul#album-fotos li:hover span{
    opacity: 1;
    transition: 2s;
}
ul#album-fotos li:hover{
    background-position: -80%;
    -webkit-transition-scale: 5;
    -webkit-transition-all: .3s;
}