@charset "UTF-8";
section#conteudo{
    width:400px;
    margin-bottom:60px;
    
    }
iframe#frame-spec{
    width:310px;
    height:380px;
    border: none;
    overflow: hidden;
    margin-left: 100px;
}
iframe#frame-spec::-webkit-scrollbar{
    display: none;
}
img#demarca{
    margin-bottom: 200px;
}
